kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: remotesecret

resources:
  - ../../bases/vault
patches:
  - target:
      version: v1
      kind: ConfigMap
      name: controller-manager-environment-config
      namespace: remotesecret
    patch: |-
      - op: add
        path: /data/VAULTINSECURETLS
        value: "true"

generatorOptions:
  disableNameSuffixHash: true

secretGenerator:
  - name: shared-configuration-file
    files:
      - config.yaml

